<?xml version="1.0"?>

<robot name="cartographer_backpack_2d">
  <material name="yellow">
    <color rgba="1.0 1 0 1" />
  </material>
  <material name="blue">
    <color rgba="0 0.5 0.8 1" />
  </material>
  <material name="black">  
    <color rgba="0 0 0 1"/>  
  </material> 


  <link name="base_link" >
    <visual>
      <geometry>
        <box size ="0.6 0.4 0.015" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.055"/>
      <material name="yellow" />
    </visual>
  </link>

 <joint name="laser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0.22 0 0.09" rpy = "0 0 0"/>
  </joint>

  <link name="laser">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.035" />
      </geometry>
      <material name = "blue" />
    </visual>
  </link>

  <joint name="wheel1_link_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="wheel1"/>  
    <origin xyz="0.155 0.2175 0.025" rpy = "1.555 0 0"/>
  </joint>  

  <link name="wheel1">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.0375" />
      </geometry>
      <material name = "black" />
    </visual>
  </link>
  <joint name="wheel2_link_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="wheel2"/>  
    <origin xyz="0.155 -0.2175 0.025" rpy = "1.555 0 0"/>
  </joint>  

  <link name="wheel2">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.0375" />
      </geometry>
      <material name = "black" />
    </visual>
  </link>
  <joint name="wheel3_link_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="wheel3"/>  
    <origin xyz="-0.155 0.2175 0.025" rpy = "1.555 0 0"/>
  </joint>  

  <link name="wheel3">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.0375" />
      </geometry>
      <material name = "black" />
    </visual>
  </link>
  <joint name="wheel4_link_joint" type="fixed">  
    <parent link="base_link"/>  
    <child link="wheel4"/>  
    <origin xyz="-0.155 -0.2175 0.025" rpy = "1.555 0 0"/>
  </joint>  

  <link name="wheel4">
    <visual>
      <geometry>
        <cylinder length="0.035" radius="0.0375" />
      </geometry>
      <material name = "black" />
    </visual>
  </link>
</robot>
